<div class="container text-center text-light mt-5">
  <h1 class="mt-4" style="font-size: 5em;">LiveTraffic即時道路交通查詢</h1>
  <h4 class="mt-4">道路即時交通查詢，請點選欲查詢的高速公路名稱</h4>
  <form action="/sections" class="row justify-content-center mt-5">
    <div class="col-6">
      <select name="freeway" class="row form-control m-auto" onchange="this.form.submit()">
        <option value="">請選擇國道</option>
        {{#each freewayLists}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </form>
  <form action="/sections/traffic" class="row justify-content-center mt-3">
    <div class="col-6">
      <select class="row form-control m-auto">
        <option value="">請選擇欲查詢路段</option>
        {{#each sectionLists}}
        <option value="{{this.SectionName}}">{{this.SectionName}}</option>
        {{/each}}
      </select>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-light mt-4 btn-block col-3">查詢</button>
      </div>
    </div>
  </form>
  <div class="row traffic mt-4 justify-content-center">
    <div class="col-6 bg-info text-light ">
      <h5 class="mt-3">你查詢的道路是：國道1號(基隆端到基隆交流道)</h5>
      <p class="lead mt-4">目前速度為：70 公里/小時</p>
      <p class="lead">路段平均通過速度為：54 分鐘</p>
    </div>
  </div>
</div>